
<!--style="min-width: 300px; min-height: 350px; width: 24%; max-height: 500px"-->




<div class="content container home d-grid block flex-wrap position-relative mt-1">
  <a routerLink="/hotel/{{hotel.id}}" *ngFor="let hotel of hotels" class="card p-2 w-100 h-auto">
    <img class="card-img-top h-50 object-fit-cover" src="{{hotel.images[0]}}" alt="{{hotel.images[0]}}">
    <div class="card-body h-50 d-flex flex-column justify-content-between p-0 pt-3">

      <div class="h-25 mb-5">
        <h5 class="card-title name-overflow fw-bold">{{hotel.name}}</h5>
        <p class="card-text  description-overflow text lh-1 text-secondary h-auto">{{hotel.description}}</p>
      </div>

      <div class="h-25 text-success align-content-ce mt-2 mb-2 d-flex justify-content-between align-items-center">
        <span class="badge bg-primary">{{hotel.rating}}</span>
        <h5 class="text-end align-items-center m-0">{{ hotel.pricePerAdult | currency:'USD'}}</h5>
      </div>
    </div>
  </a>
</div>




<!--<p *ngIf="!hotels" style="color: aqua; font-size: 36px;">no</p>-->

<!--<div *ngFor="let hotel of hotels" style="color: red">-->
<!--  <p>{{hotel.name}}</p>-->
<!--  <p>{{hotel.images}}</p>-->
<!--  <img *ngFor="let image of hotel.images" [src]="'http://localhost:3000/uploads/' + image" width="250px" />-->






<!--</div>-->




