
<!--style="min-width: 300px; min-height: 350px; width: 24%; max-height: 500px"-->




<div class="content d-flex flex-wrap position-relative justify-content-around">
  <div routerLink="/hotel/{{hotel.id}}" *ngFor="let hotel of hotels" class="card p-2">
    <img class="card-img-top h-50 object-fit-cover" src="{{hotel.images[0]}}" alt="{{hotel.images[0]}}">
    <div class="card-body h-50 d-flex flex-column justify-content-between pb-0">

      <div class="h-25">
        <h5 class="card-title">{{hotel.name}}</h5>
        <p class="card-text text-break description-overflow">{{hotel.description}}</p>
      </div>

      <div class="h-25 text-success align-content-end">
        <div *ngIf="!hotel.rating || Math.round(hotel.rating) === 0" >no rating</div>
        <div *ngIf="hotel.rating && Math.round(hotel.rating) === 1" >⭐</div>
        <div *ngIf="hotel.rating && Math.round(hotel.rating) === 1" >⭐⭐</div>
        <div *ngIf="hotel.rating && Math.round(hotel.rating) === 1" >⭐⭐⭐</div>
        <div *ngIf="hotel.rating && Math.round(hotel.rating) === 1" >⭐⭐⭐⭐</div>
        <div *ngIf="hotel.rating && Math.round(hotel.rating) === 1" >⭐⭐⭐⭐⭐</div>
        <h5 class="text-end ">{{ hotel.pricePerAdult | currency:'USD'}}</h5>
      </div>
    </div>
  </div>
</div>




<!--<p *ngIf="!hotels" style="color: aqua; font-size: 36px;">no</p>-->

<!--<div *ngFor="let hotel of hotels" style="color: red">-->
<!--  <p>{{hotel.name}}</p>-->
<!--  <p>{{hotel.images}}</p>-->
<!--  <img *ngFor="let image of hotel.images" [src]="'http://localhost:3000/uploads/' + image" width="250px" />-->






<!--</div>-->




