.description-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Количество строк, которые будут отображаться */
  -webkit-box-orient: vertical;
}

.content .card {
  width: 24%;
}



@media (max-width: 991p x) {
  .content .card {
    width: 32%;
  }
}

@media (max-width: 767px) {
  .content .card {
    width: 49%;
  }
}

@media (max-width: 350px) {
  .content .card {
    width: 100%;
  }
}

.block {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
}


