<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 bg-primary mb-3 mb-md-0">
      <p>hui</p>
    </div>
    <div class="col-12 col-md-6 bg-danger">
      <form [formGroup]="hotelForm" (ngSubmit)="submit()">
        <label>Name</label>
        <input formControlName="name" class="w-100 mb-2">
        <label>Description</label>
        <input formControlName="description" class="w-100 mb-2">
        <div class="row mb-2">
          <div class="col-6">
            <label>price per adult</label>
            <input formControlName="pricePerAdult" class="w-100">
          </div>
          <div class="col-6">
            <label>price per kid</label>
            <input formControlName="pricePerKid" class="w-100">
          </div>
        </div>
        <label>Location</label>
        <input formControlName="location" class="w-100">
        <label>Images</label>
        <input type="file" multiple #fileInput (change)="hotelForm.controls['images'].setValue(fileInput.files)">
        <button>Send</button>
      </form>
    </div>
  </div>


<p>{{ hotelForm.value | json }}</p>
