
.custom-input {
    border-radius: 100rem 0 0 100rem;
    outline: none;
    border: white;
    padding-left: 10px;
}

.custom-btn {   
    border-radius: 0 100rem 100rem 0;
}

.navbar-collapse {
    flex-grow: 0;
}