

.custom-input {
    border-radius: 100rem 0 0 100rem;
    outline: none;
    border: white;
    padding-left: 10px;
}

.custom-btn {
    border-radius: 0 100rem 100rem 0;
}

.navbar-collapse {
    flex-grow: 0;
}

//rgba(33, 37, 41, 1);

header {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;
}
.visible {
  background-color: #212529 !important;
}

header.visible > div > .logo,
header.visible > div > div > ul > li > a,
header.visible > div > .navbar-toggler,
header.visible > div > .navbar-toggler > .navbar-toggler-icon{
  color: #ffffff !important;
}

header:not(.transparent) {
  background-color: #333;
}

header.transparent {
  background-color: rgba(255, 255, 255, 0);
}

header.transparent > div > .logo,
header.transparent > div > div > ul > li > a,
header.transparent > div > .navbar-toggler,
header.transparent > div > .navbar-toggler > .navbar-toggler-icon{
  color: #000;
}
header.transparent > div > .navbar-toggler,
header.transparent > div > .navbar-toggler > .navbar-toggler-icon {
  background-color: #212529;
}

header:not(.transparent) > .logo,
header:not(.transparent) > div > div > ul > li > a {
  color: #fff;
}
