.free:after {
  font-size: 21px;
  content: "free ✓";
  color: #41d041;
}

.free {
  font-size: 21px;
}

.img {

}


.collapsible {
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.collapsible:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Высота кнопки */
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}



