<footer class="bg-dark text-white py-5 position-absolute bottom-0 left-0 w-100" >
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Компания</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">О нас</a></li>
            <li><a href="#" class="text-white">Карьера</a></li>
            <li><a href="#" class="text-white">Блог</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Продукты</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Продукт 1</a></li>
            <li><a href="#" class="text-white">Продукт 2</a></li>
            <li><a href="#" class="text-white">Продукт 3</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Ресурсы</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Документация</a></li>
            <li><a href="#" class="text-white">Поддержка</a></li>
            <li><a href="#" class="text-white">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Контакты</h5>
          <ul class="list-unstyled">
            <li>
              <i class="bi bi-geo-alt-fill me-2"></i>
              123 Главная ул., Город
            </li>
            <li>
              <i class="bi bi-telephone-fill me-2"></i>
              +1 (123) 456-78-90
            </li>
            <li>
              <i class="bi bi-envelope-fill me-2"></i>
              infoexample.com
            </li>
          </ul>
        </div>
      </div>
      <hr class="mt-4">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Ваш бренд. Все права защищены.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="text-white">Политика конфиденциальности</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Условия использования</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>